{
  "openapi": "3.1.0",
  "info": {
    "title": "BetterToken GPT Image 2 API",
    "description": "OpenAI-compatible image generation and image editing endpoints for BetterToken.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://bettertoken.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "summary": "文生图（图片生成）",
        "description": "使用 GPT Image 2 根据文本提示词生成图片。请求使用 application/json，成功响应中的图片内容位于 data[0].b64_json。",
        "operationId": "createImageGeneration",
        "tags": [
          "GPT Image 2"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToImageRequest"
              },
              "example": {
                "model": "YOUR_MODEL_ID",
                "prompt": "一张未来感 AI 产品海报，浅色背景，玻璃质感，干净构图，高级科技感",
                "n": 1,
                "size": "1024x1024",
                "response_format": "b64_json",
                "output_format": "png"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ImageResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl 'https://bettertoken.ai/v1/images/generations' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -H 'Content-Type: application/json' \\\n  --data '{\n    \"model\": \"YOUR_MODEL_ID\",\n    \"prompt\": \"一张未来感 AI 产品海报，浅色背景，玻璃质感，干净构图，高级科技感\",\n    \"n\": 1,\n    \"size\": \"1024x1024\",\n    \"response_format\": \"b64_json\",\n    \"output_format\": \"png\"\n  }'"
          }
        ]
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "图生图（图片编辑）",
        "description": "使用 GPT Image 2 根据一张或多张参考图片生成新图片。请求使用 multipart/form-data，成功响应中的图片内容位于 data[0].b64_json。",
        "operationId": "createImageEdit",
        "tags": [
          "GPT Image 2"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageToImageRequest"
              },
              "encoding": {
                "image": {
                  "contentType": "image/png, image/jpeg, image/webp"
                },
                "image[]": {
                  "contentType": "image/png, image/jpeg, image/webp"
                }
              },
              "example": {
                "model": "YOUR_MODEL_ID",
                "prompt": "参考这张图片，生成一张更精致的方形产品主视觉，保持主体风格一致。",
                "n": "1",
                "size": "1024x1024",
                "response_format": "b64_json",
                "output_format": "png"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ImageResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL single image",
            "source": "curl 'https://bettertoken.ai/v1/images/edits' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -F 'model=YOUR_MODEL_ID' \\\n  -F 'prompt=参考这张图片，生成一张更精致的方形产品主视觉，保持主体风格一致。' \\\n  -F 'n=1' \\\n  -F 'size=1024x1024' \\\n  -F 'response_format=b64_json' \\\n  -F 'output_format=png' \\\n  -F 'image=@reference.png'"
          },
          {
            "lang": "cURL",
            "label": "cURL multiple images",
            "source": "curl 'https://bettertoken.ai/v1/images/edits' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -F 'model=YOUR_MODEL_ID' \\\n  -F 'prompt=综合这些参考图，生成一张统一风格的宣传海报。' \\\n  -F 'n=1' \\\n  -F 'size=1024x1024' \\\n  -F 'response_format=b64_json' \\\n  -F 'output_format=png' \\\n  -F 'image[]=@reference-1.png' \\\n  -F 'image[]=@reference-2.jpg' \\\n  -F 'image[]=@reference-3.png'"
          }
        ]
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "创建 Responses API 响应",
        "description": "通过 BetterToken 的 OpenAI Responses API 向 GPT 提供商模型发送输入。可在 Playground 中填写自己的 API Key 并直接测试请求。",
        "operationId": "createResponse",
        "tags": [
          "OpenAI Responses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              },
              "example": {
                "model": "YOUR_MODEL_ID",
                "input": "Hello"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResponsesResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl 'https://bettertoken.ai/v1/responses' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -H 'Content-Type: application/json' \\\n  --data '{\n    \"model\": \"YOUR_MODEL_ID\",\n    \"input\": \"Hello\"\n  }'"
          }
        ]
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "创建 Chat Completions 响应",
        "description": "通过 BetterToken 的 OpenAI-compatible Chat Completions API 向 GPT 提供商模型发送对话消息。适用于需要 /v1/chat/completions 的外部工具和应用。",
        "operationId": "createChatCompletion",
        "tags": [
          "OpenAI Chat Completions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionsRequest"
              },
              "example": {
                "model": "YOUR_MODEL_ID",
                "messages": [
                  {
                    "role": "user",
                    "content": "Hello"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ChatCompletionResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl 'https://bettertoken.ai/v1/chat/completions' \\\n  -H 'Authorization: Bearer YOUR_API_KEY' \\\n  -H 'Content-Type: application/json' \\\n  --data '{\n    \"model\": \"YOUR_MODEL_ID\",\n    \"messages\": [{\"role\": \"user\", \"content\": \"Hello\"}]\n  }'"
          }
        ]
      }
    },
    "/v1/messages": {
      "post": {
        "summary": "创建 Anthropic Messages 响应",
        "description": "通过 BetterToken 的 Anthropic-compatible Messages API 向 Claude 提供商模型发送消息。适用于 Claude Code、Anthropic SDK 和使用 /v1/messages 的应用。",
        "operationId": "createAnthropicMessage",
        "tags": [
          "Anthropic Messages"
        ],
        "security": [
          {
            "anthropicApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "anthropic-version",
            "in": "header",
            "required": true,
            "description": "Anthropic API version header.",
            "schema": {
              "type": "string",
              "default": "claude-cli/2.0.76 (external, cli)",
              "example": "claude-cli/2.0.76 (external, cli)"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessagesRequest"
              },
              "example": {
                "model": "YOUR_MODEL_ID",
                "max_tokens": 1024,
                "messages": [
                  {
                    "role": "user",
                    "content": "Hello"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AnthropicMessageResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl 'https://bettertoken.ai/v1/messages' \\\n  -H 'x-api-key: YOUR_API_KEY' \\\n  -H 'anthropic-version: claude-cli/2.0.76 (external, cli)' \\\n  -H 'content-type: application/json' \\\n  --data '{\n    \"model\": \"YOUR_MODEL_ID\",\n    \"max_tokens\": 1024,\n    \"messages\": [{\"role\": \"user\", \"content\": \"Hello\"}]\n  }'"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "BetterToken API Key",
        "description": "Use your BetterToken API Key as a bearer token. Do not expose API keys in frontend browser code, screenshots, logs, tickets, or Git repositories."
      },
      "anthropicApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Use your BetterToken API Key in the x-api-key header for Anthropic-compatible requests."
      }
    },
    "schemas": {
      "TextToImageRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "固定使用 YOUR_MODEL_ID。",
            "enum": [
              "YOUR_MODEL_ID"
            ],
            "default": "YOUR_MODEL_ID",
            "example": "YOUR_MODEL_ID"
          },
          "prompt": {
            "type": "string",
            "description": "图片生成提示词。",
            "example": "一张未来感 AI 产品海报，浅色背景，玻璃质感，干净构图，高级科技感"
          },
          "n": {
            "type": "integer",
            "description": "推荐固定为 1。多张图片建议发起多次独立请求。",
            "minimum": 1,
            "maximum": 1,
            "default": 1,
            "example": 1
          },
          "size": {
            "$ref": "#/components/schemas/ImageSize"
          },
          "response_format": {
            "type": "string",
            "description": "推荐固定为 b64_json，便于稳定保存图片。",
            "enum": [
              "b64_json"
            ],
            "default": "b64_json",
            "example": "b64_json"
          },
          "output_format": {
            "type": "string",
            "description": "推荐固定为 png。不要依赖 jpeg 或 webp 直接返回对应格式。",
            "enum": [
              "png"
            ],
            "default": "png",
            "example": "png"
          }
        },
        "additionalProperties": false
      },
      "ImageToImageRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "固定使用 YOUR_MODEL_ID。",
            "enum": [
              "YOUR_MODEL_ID"
            ],
            "default": "YOUR_MODEL_ID",
            "example": "YOUR_MODEL_ID"
          },
          "prompt": {
            "type": "string",
            "description": "图片编辑或参考图生成说明。",
            "example": "参考这张图片，生成一张更精致的方形产品主视觉，保持主体风格一致。"
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "单张参考图字段名。单参考图时使用 image。"
          },
          "image[]": {
            "type": "array",
            "description": "多张参考图字段名。多参考图时重复提交 image[]。",
            "items": {
              "type": "string",
              "format": "binary"
            }
          },
          "n": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "description": "推荐固定为 1。多张图片建议发起多次独立请求。",
            "default": "1",
            "example": "1"
          },
          "size": {
            "$ref": "#/components/schemas/ImageSize"
          },
          "response_format": {
            "type": "string",
            "description": "推荐固定为 b64_json。",
            "enum": [
              "b64_json"
            ],
            "default": "b64_json",
            "example": "b64_json"
          },
          "output_format": {
            "type": "string",
            "description": "推荐固定为 png。不要依赖 jpeg 或 webp 直接返回对应格式。",
            "enum": [
              "png"
            ],
            "default": "png",
            "example": "png"
          }
        },
        "additionalProperties": false
      },
      "ImageSize": {
        "type": "string",
        "description": "图片尺寸和比例档位。auto 为自动；1024x1024 和 2048x2048 为 1:1；1536x1024 为 3:2；1024x1536 为 2:3；1536x1152 为 4:3；1152x1536 为 3:4；2048x1152 和 3840x2160 为 16:9；2160x3840 为 9:16。实际返回像素可能由服务端映射或调整，客户端应以解码后的真实图片尺寸为准。",
        "enum": [
          "auto",
          "1024x1024",
          "1536x1024",
          "1024x1536",
          "1536x1152",
          "1152x1536",
          "2048x2048",
          "2048x1152",
          "3840x2160",
          "2160x3840"
        ],
        "default": "1024x1024",
        "example": "1024x1024"
      },
      "ImageResponse": {
        "type": "object",
        "description": "OpenAI-compatible image response. Clients should read data[0].b64_json and allow additional fields such as revised_prompt.",
        "properties": {
          "created": {
            "type": "integer",
            "example": 1710000000
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "b64_json": {
                  "type": "string",
                  "description": "Base64-encoded image content.",
                  "example": "iVBORw0KGgoAAAANSUhEUgAA...(truncated)"
                },
                "revised_prompt": {
                  "type": "string",
                  "description": "Optional revised prompt."
                }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "ResponsesRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "GPT 提供商中可用的模型 ID。请以模型广场当前显示的模型为准。",
            "example": "YOUR_MODEL_ID"
          },
          "input": {
            "type": "string",
            "description": "发送给模型的文本输入。",
            "example": "Hello"
          }
        },
        "additionalProperties": true
      },
      "ResponsesResponse": {
        "type": "object",
        "description": "OpenAI Responses API 的响应。实际字段会随所选模型和请求参数变化。",
        "additionalProperties": true
      },
      "ChatCompletionsRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "GPT 提供商中可用的模型 ID。请以模型广场当前显示的模型为准。",
            "example": "YOUR_MODEL_ID"
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "description": "对话消息数组。每项应包含 role 和 content。",
            "items": {
              "type": "object",
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "example": "user"
                },
                "content": {
                  "type": "string",
                  "example": "Hello"
                }
              },
              "additionalProperties": true
            }
          },
          "stream": {
            "type": "boolean",
            "description": "是否请求流式响应。",
            "default": false
          }
        },
        "additionalProperties": true
      },
      "AnthropicMessagesRequest": {
        "type": "object",
        "required": [
          "model",
          "max_tokens",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Claude 提供商中可用的模型 ID。",
            "example": "YOUR_MODEL_ID"
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "description": "单次响应允许生成的最大 token 数。",
            "default": 1024,
            "example": 1024
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "description": "Anthropic 格式的消息数组。每项应包含 role 和 content。",
            "items": {
              "type": "object",
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "example": "user"
                },
                "content": {
                  "type": "string",
                  "example": "Hello"
                }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "ChatCompletionResponse": {
        "type": "object",
        "description": "OpenAI-compatible Chat Completions API 响应。实际字段会随所选模型和请求参数变化。",
        "additionalProperties": true
      },
      "AnthropicMessageResponse": {
        "type": "object",
        "description": "Anthropic-compatible Messages API 响应。实际字段会随所选模型和请求参数变化。",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "example": "invalid request"
              },
              "type": {
                "type": "string",
                "example": "invalid_request_error"
              },
              "code": {
                "type": "string",
                "example": "invalid_request"
              }
            },
            "additionalProperties": true
          },
          "message": {
            "type": "string",
            "example": "insufficient quota"
          }
        },
        "additionalProperties": true
      }
    },
    "responses": {
      "ImageResponse": {
        "description": "Image generation result.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ImageResponse"
            },
            "example": {
              "created": 1710000000,
              "data": [
                {
                  "b64_json": "iVBORw0KGgoAAAANSUhEUgAA...(truncated)"
                }
              ]
            }
          }
        }
      },
      "ResponsesResponse": {
        "description": "GPT 提供商模型返回的 Responses API 响应。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponsesResponse"
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "description": "GPT 提供商模型返回的 Chat Completions API 响应。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ChatCompletionResponse"
            }
          }
        }
      },
      "AnthropicMessageResponse": {
        "description": "Claude 提供商模型返回的 Anthropic Messages API 响应。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AnthropicMessageResponse"
            }
          }
        }
      },
      "BadRequest": {
        "description": "请求格式错误、缺少参数、JSON 或 multipart 解析失败、尺寸格式错误。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "API Key 缺失或无效。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "额度或余额不足。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "触发限速、并发限制或上游繁忙。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ServerError": {
        "description": "网关或上游服务异常。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
